<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ResourceMapper">

    <insert id="createResource" parameterType="map">
        insert into recursos (codigo, tipo , ubicacion, nombre, estado)
        values (#{resource.codigo}, #{resource.tipo}, #{resource.ubicacion}, #{resource.nombre}, #{resource.estado})
    </insert>

    <select parameterType="map" id="getResource" resultType="Resource">
        select * from recursos limit 1
    </select>

    <select parameterType="map" id="getListResources" resultMap="ResourceResult">
        select r.codigo,
            t.nombre as tiporecurso,
            u.nombre as ubicacion,
            r.nombre as nombrerecurso,
            estado,
            capacidad
        from recursos r join tiporecurso t on r.tipo=t.codigo
            join ubicaciones u on r.ubicacion=u.codigo
    </select>

   <select id="searchResourceType"  parameterType="map" resultMap="ResourceResult" >
        select codigo, tipo, ubicacion, nombre, estado from recursos
       <where>
           <if test="tipo != null">
               and tipo = #{tipo}
           </if>
       </where>
   </select>

    <select id="searchResourceCapacity" parameterType="map" resultMap="ResourceResult">
        select codigo, tipo, ubicacion, nombre, estado from recursos
        <where>
            <if test="capacidad != null">
                and tipo = #{capacidad}
            </if>
        </where>
    </select>

    <select id="searchResourceLocation" parameterType="map" resultMap="ResourceResult">
        select codigo, tipo, ubicacion, nombre, estado from recursos where ubicacion
        <where>
            <if test="ubicacion != null">
                and ubicacion = #{ubicacion}
            </if>
        </where>
    </select>

    <update id="updateResource" parameterType="map">
        update recursos set estado = #{resource.estado}
    </update>

    <resultMap type="Resource" id="ResourceResult">
        <id property="codigo" column="r.codigo"/>
        <result property="tipo" column="tiporecurso"/>
        <result property="ubicacion" column="ubicacion"/>
        <result property="nombre" column="nombrerecurso"/>
        <result property="estado" column="estado"/>
        <result property="capacidad" column="capacidad"/>
    </resultMap>

</mapper>