<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config.properties">
	</properties>

	<typeAliases>
		<typeAlias type='edu.eci.cvds.entities.User' alias='User' />
		<typeAlias type='edu.eci.cvds.entities.Resource' alias='Resource' />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<!--property name="url" value="jdbc:mysql://localhost:3306/video_rental"/! -->
				<property name="url" value="jdbc:postgres://ec2-3-230-122-20.compute-1.amazonaws.com:5432/d7lbrltk4jp2qq?ssl=true&amp" />
				<property name="username" value="xvwwsijzxuquns" />
				<property name="password" value="6c96dafd57411a5c5304fc10c42429e72e9ba9a3fbe2599c42f45de42a6d6564" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mappers/UserMapper.xml"></mapper>
		<mapper resource="mappers/ResourceMapper.xml"></mapper>
	</mappers>

</configuration>